/****** PREMIUM MEMBERSHIP PAGE *****/
#premium-account .premium-account-content-header-container{
    text-align: center;
    padding: 100px 0px;
    background-color: #eff3f6;
}

#premium-account .premium-account-content-header {
    margin: 0;
    overflow: hidden;
    display: inline-block;
}

#premium-account .premium-account-content-header .premium-account-logo {
    height: 300px;
    float: left;
}

#premium-account .premium-account-content-header h3 {
    font-size: 50px;
    padding: 0;
    margin: 120px 30px;
    margin-bottom: 0px;
    display: inline-block;
}

#premium-account .premium-account-content-header h2 {
    font-size: 80px;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    display: inline-block;
}

/***** Content Part *****/
#premium-account .premium-account-content-container {
    width: 100%;
    text-align: center;
    margin: 0;
}

#premium-account .premium-account-content-container > hr {
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
    width: 80%;
    margin: 0 auto;
}

#premium-account .premium-account-content {
    padding: 80px 90px;
    transition: 0.4s;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto;
}

#premium-account .premium-account-content h3 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 40px;
    color: #935118;
}

#premium-account .premium-account-text p {
    font-size: 25px;
    line-height: 40px;
    margin: 0;
}

#premium-account .premium-account-content ul {
    font-size: 22px;
    list-style-position: inside;
    list-style-type: square;
    margin: 0 auto;
    text-align: left;
    padding-left: 30%;
}

#premium-account .premium-account-testimony {
    width: 100%;
}
/*****  *****/

/* **** Testimonies Division Style **** */
#premium-account .testimony-flex-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

#premium-account .testimony-flex {
    flex: 20%;
    background-color: #ffffff;
    padding: 30px 0;
    transition: 0.4s;
    margin: 0 15px 0 0;
}

#premium-account .testimony-flex img {
    border-radius: 50%;
    height: 200px;
}

#premium-account .testimony-flex p {
    color: #000000;
}

#premium-account .testimony-flex .name {
    font-size: 25px;
    line-height: 25px;
    padding: 25px 15px 5px 15px;
    margin: 0;
    font-weight: bold;
}

#premium-account .testimony-flex .quote {
    font-size: 16px;
    margin: 0;
    padding: 5px 15px 0 15px;
}

#premium-account .testimony-flex .quote span {
    font-size: 20px;
}
/*****  *****/